body {
  background: url(./assets/images/pexels-pixabay-blur.png) no-repeat center center fixed;
  -webkit-background: cover;
  -mozilla-background: cover;
  -o-background: cover;
  background: cover;
}